<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='design4.css') }}">
    <title></title>
</head>

<style>
    .line-container {
        border: 1px solid #789922;
        background-color: #f7f7f7;
        padding: 10px;
        margin-bottom: 10px;
        text-align: left;
    }

    p {
        margin: 0;
        /* 段落のマージンを0に設定 */
        font-size: 14px;
        /* フォントサイズを調整 */
        color: #333;
        /* テキストの色を調整 */
    }
</style>

<body>
    <header>
        <h1>isostagram</h1>
        {% set column = lines[0].rstrip().split(',') %}
        <p>{{column[3]}}</p>
        <img src="{{ url_for('static', filename='image_file/' + image) }}" width="25%" height="225">
        <p>いいね数：{{column[2]}}</p>
    </header>

    <form action="/result" method="POST" enctype="multipart/form-data">
        <div class="upload-area">
            <i class="fas fa-cloud-upload-alt"></i>
            <p>コメント投稿</p>

        </div>

    </form>
        <table border=1>
            {% for line in lines[1:] %}
            {% set column = line.rstrip().split(',') %}
            <div class="line-container">
                <p>{{ column[2] }}</p>
                <p>{{ column[0] }}</p>
                <p>{{ column[1] }}</p>
            </div>
            {% endfor %}
        </table>

        <form action='/result' method='post'>
            <label for='name'>名前</label>
            <input type='text' name='name'>
            <p></p>
            <label for='article'>投稿</label>
            <input type='text' name='article'>
            <input type="hidden" name="image_name" value="{{ image_name }}">
            <button type='subimit'>書き込む</button>
        </form>


        <dl class="thread" style="margin-top: 0px;">

            <div id="" fb-root></div>
            <script async defer crossorigin="anonymous" src=""></script>

            <!-- <input type="submit" value="投稿" name="submit"> -->
            <ul>
                <li><a class="active" href="/">ホーム</a></li>
                <li><a href="/upload">投稿(アップロード)</a></li>
            </ul>
        </dl>
</body>

</html>