<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='design2.css') }}">
    <title>isostagram</title>
</head>

<body>
    <header>
        <h1>isostagram</h1>
    </header>
    <ul>
        <li><a href="/upload">投稿(アップロード)</a></li>
        {% for data in image_data %}
        <li>
            <a href="{{ url_for('get_image_name', image_name=data['name']) }}">Name: {{ data['name'] }}</a>
            <img src="{{ url_for('static', filename='image_file/' + data['filename']) }}" width="25%" height="225"
                alt="{{ data['name'] }}">
        </li>
        {% endfor %}
    </ul>
    </ul>
</body>

</html>